PGSN.rng

<grammar  xmlns="http://relaxng.org/ns/structure/1.0">


  <define name="list_pat">
    <zeroOrMore>
      <element name="li"><ref name="val_pat"/></element>
    </zeroOrMore>
  </define>


  <define name="data_type_pat">
    <choice>
      <element name="ul">
        <ref name="list_pat"/>
      </element>
      <element name="ol">
        <ref name="list_pat"/>
      </element>
      <element name="dl">
        <zeroOrMore>
          <element name="dt">
            <choice>
              <attribute name="key"/>
              <ref name="val_pat"/>
            </choice>
          </element>
          <element name="dd">
            <ref name="val_pat"/>
          </element>
        </zeroOrMore>
      </element>
    </choice>
  </define>


  <define name="gsn_header">
    <choice>
      <element name="description"><ref name="val_pat"/></element>
      <text/>
    </choice>
    <zeroOrMore>
      <choice>
      <element name="Context">
        <choice>
          <element name="description"><ref name="val_pat"/></element>
          <ref name="val_pat"/>
        </choice>
      </element>
        <element name="Assumption">
          <optional>
            <choice>
              <element name="description"><ref name="val_pat"/></element>
              <text/>
            </choice>
          </optional>
          <choice>
            <attribute name="var"/>
            <ref name="var_pat"/>
          </choice>
        </element>
      </choice>
    </zeroOrMore>
  </define>


  <define name="goal_pat">
    <element name="Goal">
      <ref name="gsn_header" />
      <choice>
        <ref name="str_pat"/>
        <ref name="ev_pat"/>
        <oneOrMore>
          <ref name="goal_pat"/>
        </oneOrMore>
        <element name="supportedBy">
          <ref name="val_pat"/>
        </element>
        <element name="undeveloped"><empty/></element>
      </choice>
    </element>
  </define>


  <define name="str_pat">
    <element name="Strategy">
      <ref name="gsn_header"/>
      <choice>
        <oneOrMore>
          <ref name="goal_pat"/>
        </oneOrMore>
        <element name="subGoals">
          <ref name="val_pat"/>
        </element>
      </choice>
    </element>
  </define>


  <define name="ev_pat">
    <element name="Evidence">
      <ref name="gsn_header"/>
    </element>
  </define>


  <define name="GSNNode">
    <choice>
      <ref name="goal_pat"/>
      <ref name="str_pat"/>
      <ref name="ev_pat"/>
    </choice>
  </define>


  <define name="param_pat">
    <element name="param">
      <attribute name="name"/>
        <optional>
          <attribute name="instanceOf"/>
        </optional>
        <optional>
          <ref name="val_pat"/>
        </optional>
      </element>
  </define>


  <define name="defun_pat">
    <zeroOrMore>
      <ref name="param_pat"/>
    </zeroOrMore>
    <ref name="base_val_pat"/>
  </define>


  <define name="call_pat">
    <ref name="val_pat"/>
    <zeroOrMore>
      <element name="arg">
        <attribute name="name"/>
        <ref name="val_pat"/>
      </element>
    </zeroOrMore>
  </define>


  <define name="class_pat">
    <element name="class">
      <optional>
        <element name="inherit">
          <ref name="val_pat"/>
        </element>
      </optional>
    <zeroOrMore>
      <element name="attribute">
        <attribute name="name"/>
        <optional>
          <ref name="val_pat"/>
        </optional>
      </element>
    </zeroOrMore>
    <zeroOrMore>
      <element name="method">
        <attribute name="name"/>
        <ref name="defun_pat"/>
      </element>
    </zeroOrMore>
    </element>
  </define>


  <define name="object_pat">
      <element name="object">
        <element name="instanceOf">
          <ref name="val_pat"/>
        </element>
      <zeroOrMore>
        <element name="attribute">
          <attribute name="name">
          </attribute>
          <optional>
            <ref name="val_pat"/>
          </optional>
      </element>
      </zeroOrMore>
    </element>
  </define>


  <define name="apply_pat">
    <element name="apply">
      <ref name="call_pat"/>
    </element>
  </define>


<define name="send_pat">
  <element name="send">
    <attribute name="name"/>
    <ref name="call_pat"/>
  </element>
</define>


<define name="get_pat">
  <element name="get">
    <attribute name="name"/>
    <ref name="val_pat"/>
  </element>
</define>


<define name="template_pat">
  <element name="template">
    <ref name="defun_pat"/>
  </element>
</define>


<define name="var_pat">
  <element name="var">
      <optional>
        <attribute name="instanceOf"/>
      </optional>
      <attribute name="name"/>
    </element>
</define>


<define name="expression_pat">
  <choice>
    <text/>
    <ref name="class_pat"/>
    <ref name="object_pat"/>
    <ref name="apply_pat"/>
    <ref name="template_pat"/>
    <ref name="get_pat"/>
    <ref name="send_pat"/>
    <element name="div">
      <zeroOrMore>
        <ref name="def_pat"/>
      </zeroOrMore>
      <ref name="base_val_pat"/>
    </element>
    <ref name="data_type_pat"/>
    <ref name="GSNNode"/>
  </choice>
</define>


<define name="base_val_pat">
  <choice>
    <ref name="var_pat"/>
    <ref name="expression_pat"/>
  </choice>
</define>


  <define name="val_pat">
    <choice>
      <attribute name="var"/>
      <ref name="base_val_pat"/>
    </choice>
  </define>


  <define name="def_pat">
    <element name="def">
      <attribute name="name"/>
      <optional>
        <attribute name="as"/>
      </optional>
      <optional>
        <attribute name="instanceOf"/>
      </optional>
      <ref name="val_pat"/>
    </element>
  </define>


  <define name="import_pat">
  <element name="from">
    <attribute name="file"/>
    <choice>
      <!-- single -->
      <group>
        <attribute name="import"/>
        <optional>
          <attribute name="as"/>
        </optional>
      </group>
      <!-- multiple -->
      <oneOrMore>
        <element name="import">
          <attribute name="name"/>
          <optional>
            <attribute name="as"/>
          </optional>
        </element>
      </oneOrMore>
    </choice>
    <zeroOrMore>
      <element name="arg">
        <attribute name="name"/>
        <ref name="val_pat"/>
      </element>
    </zeroOrMore>
  </element>
</define>


<start>
  <element name="PGSN">
    <zeroOrMore>
      <ref name="param_pat"/>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="import_pat"/>
        <ref name="def_pat"/>
      </choice>
    </zeroOrMore>
    <ref name="val_pat"/>
  </element>
</start>

</grammar>
