PGSN.rng

<grammar  xmlns="http://relaxng.org/ns/structure/1.0">


  <define name="list_pat">
    <zeroOrMore>
      <element name="li"><ref name="val_pat"/></element>
    </zeroOrMore>
  </define>


  <define name="data_type_pat">
    <choice>
      <element name="ul">
        <ref name="list_pat"/>
      </element>
      <element name="ol">
        <ref name="list_pat"/>
      </element>
      <element name="dl">
        <zeroOrMore>
          <element name="dt">
            <choice>
              <attribute name="name"/>
              <element name="key">
                <ref name="val_pat"/>
              </element>
            </choice>
          </element>
          <element name="dd">
            <ref name="val_pat"/>
          </element>
        </zeroOrMore>
      </element>
    </choice>
  </define>


  <define name="gsn_header">
    <choice>
      <element name="description"><ref name="val_pat"/></element>
      <text/>
    </choice>
    <zeroOrMore>
      <choice>
      <element name="context">
        <ref name="val_pat"/>
      </element>
        <element name="assumption">
          <optional>
            <element name="description"><ref name="val_pat"/></element>
          </optional>
          <element name="var"><attribute name="name"/></element>
        </element>
      </choice>
    </zeroOrMore>
  </define>


  <define name="goal_pat">
    <element name="Goal">
      <ref name="gsn_header" />
      <choice>
        <ref name="str_pat"/>
        <ref name="ev_pat"/>
        <oneOrMore>
          <ref name="goal_pat"/>
        </oneOrMore>
        <element name="supportedBy">
          <ref name="val_pat"/>
        </element>
        <element name="undeveloped"><empty/></element>
      </choice>
    </element>
  </define>


  <define name="str_pat">
    <element name="Strategy">
      <ref name="gsn_header"/>
      <choice>
        <oneOrMore>
          <ref name="goal_pat"/>
        </oneOrMore>
        <element name="subGoals">
          <ref name="val_pat"/>
        </element>
      </choice>
    </element>
  </define>


  <define name="ev_pat">
    <element name="Evidence">
      <ref name="gsn_header"/>
    </element>
  </define>


  <define name="GSNNode">
    <choice>
      <ref name="goal_pat"/>
      <ref name="str_pat"/>
      <ref name="ev_pat"/>
    </choice>
  </define>


  <define name="class_pat">
    <element name="class">
      <optional>
        <element name="inherit">
          <ref name="val_pat"/>
        </element>
      </optional>
    <zeroOrMore>
      <element name="attribute">
        <attribute name="name"/>
        <optional>
          <ref name="val_pat"/>
        </optional>
      </element>
    </zeroOrMore>
    <zeroOrMore>
      <element name="method">
        <attribute name="name"/>
        <ref name="val_pat" />
      </element>
    </zeroOrMore>
    </element>
  </define>


  <define name="object_pat">
      <element name="object">
        <element name="instance">
          <ref name="val_pat"/>
        </element>
      <zeroOrMore>
        <element name="attribute">
          <attribute name="name">
          </attribute>
          <optional>
            <ref name="val_pat"/>
          </optional>
      </element>
      </zeroOrMore>
    </element>
  </define>


  <define name="assign_pat">
    <element name="assign">
      <ref name="val_pat"/>
      <zeroOrMore>
        <element name="arg">
          <ref name="val_pat"/>
        </element>
      </zeroOrMore>
    </element>
  </define>


<define name="send_pat">
  <element name="send">
    <ref name="val_pat"/>
    <zeroOrMore>
      <element name="arg">
        <ref name="val_pat"/>
      </element>
    </zeroOrMore>
  </element>
</define>


<define name="get_pat">
  <element name="get">
    <attribute name="attribute"/>
    <ref name="val_pat"/>
  </element>
</define>


<define name="template_pat">
  <element name="template">
    <zeroOrMore>
      <element name="param">
        <attribute name="name"/>
        <optional>
          <ref name="val_pat"/>
        </optional>
      </element>
    </zeroOrMore>
    <ref name="base_val_pat"/>
  </element>
</define>


<define name="var_pat">
  <element name="var">
      <optional>
        <attribute name="instance_of"/>
      </optional>
      <attribute name="name"/>
    </element>
</define>


<define name="expression_pat">
  <choice>
    <text/>
    <ref name="class_pat"/>
    <ref name="object_pat"/>
    <ref name="assign_pat"/>
    <ref name="template_pat"/>
    <ref name="get_pat"/>
    <ref name="send_pat"/>
    <element name="div">
      <zeroOrMore>
        <ref name="def_pat"/>
      </zeroOrMore>
      <ref name="base_val_pat"/>
    </element>
    <ref name="data_type_pat"/>
    <ref name="GSNNode"/>
  </choice>
</define>


<define name="base_val_pat">
  <choice>
    <ref name="var_pat"/>
    <ref name="expression_pat"/>
  </choice>
</define>


  <define name="val_pat">
    <choice>
      <attribute name="var"/>
      <ref name="base_val_pat"/>
    </choice>
  </define>


  <define name="def_pat">
    <element name="def">
      <attribute name="name"/>
      <optional>
        <attribute name="as"/>
      </optional>
      <optional>
        <attribute name="instance_of"/>
      </optional>
      <ref name="val_pat"/>
    </element>
  </define>


  <start>
    <element name="PGSN">
      <zeroOrMore>
        <ref name="def_pat"/>
      </zeroOrMore>
      <ref name="val_pat"/>
    </element>
  </start>


</grammar>
